@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Odibee+Sans&family=Spinnaker&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: JetBrains Mono;
  background: #ede0d6;
}

.topnav {
  overflow: hidden;
  font-family: Spinnaker, Arial;
  background-color: #df6d10;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
}

.topnav a:hover {
  background-color: #97979b;
  color: rgb(58, 57, 57);
}

.intro {
  display: flex;
  margin: 1rem 0 0 0;
  font-family: JetBrains Mono;
  font-size: 1rem;
  justify-content: center;
}

h1 {
  margin: 0.7rem 0 2rem 0;
}

.Container-Cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0 0 0;
}

.Card {
  width: 15rem;
  text-align: center;
  background-color: #df6d10;
  margin: 15px;
  border-radius: 8px;
  transition: 0.3s ease-out;
}

.Card:hover {
  background-color: #97979b;
  transform: scale(1.1);
}

.fonts {
  color: white; 
  font-size: 19px;
  margin: 0.7rem 0.7rem 0.7rem 0.7rem;
}

.NoneLink {
  text-decoration: none;
}

.titulo {
  text-align: center;
  font-size: 30px;
  color: black;
}

.campo {
  text-align: center;
}

.TitleForm {
  color: black;
  font-size: 15px;
}

.InputForm {
  margin: 0.4rem 0 0.4rem 0;
  width: 350px;
  height: 25px;
}

#Summary {
  width: 350px;
  height: 75px;
}

@media screen and (max-width: 400px) {

  .intro {
    display: flex;
    margin: 1.2rem 0 0 0;
    font-family: JetBrains Mono;
    font-size: .9rem;
    justify-content: center;
  }

  .InputForm {
    width: 230px;
    height: 22px;
  }
}

.botao {
  border: 0;
  padding: 20px;
  width: 200px;
  height: 50px;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  border-radius: 4px;
  color: black;
  background-color: #97979b;
  font-size: 16px;
  font-weight: 600;
}

.CenterButton {
  justify-content: center;
  align-items: center;
  display: flex;
}

section#message {
  padding: 1.5rem;
  background-color: rgb(175, 203, 183);
  color: #024205;
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  width: 400px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span#close {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

span#close:hover {
  color: rgb(255, 0, 0);
  transform: scale(1.5);
}
